<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gestor de Archivos HLSC </title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" href="/imagenes/favicon.ico" type="image/x-icon">
    <style>
        .contenedor-general {
            display: flex;
            justify-content: space-between; /* Separa los títulos y las imágenes */
            align-items: center; /* Centra verticalmente los elementos */
            padding: 1px;
        }
    </style>
</head>

<body>
    <div class="imgLogoPrincipal">
        <img src="/imagenes/Logo_Hospital.png" width="35%" height="35%" style="left: auto">
    </div>
    <hr class="half-width-line"><br>

    <header>
        <div class="top-right">
            <a href="/Modulo_Registro"> Registrarse <a>|</a> </a>
            <a href="/Modulo_InicioDeSesion">Iniciar Sesión </a>
        </div>
    </header>
    <div class="contenedor-general">
        <div class="spaceTitle"><br>
            <h1 align="left" class="Title"> BIENVENIDO <br> AL SIGAM </h1>
            <h3 align="left" class="Title1"> (Sistema Integrado De Gestión De Almacén Y Mantenimiento) <br> E.S.E Hospital Local Santa Cruz </h3>
            <hr style="color: #0056b3">
        </div>

        <div class="contenedor">
            <img class="imagenLogo" src="/imagenes/Logo_PaginaPrincipal.png" style="width: 150%; height: auto;">
            <img class="imagenFondo" src="/imagenes/Fondo_PaginaPrincipal.png" style="width: 80%; height: auto;">
            <!--<img class="imagenLogo" src="/imagenes/Logo_PaginaPrincipal.png" height="600dx" width="600dx">
            <img class="imagenFondo" src="/imagenes/Fondo_PaginaPrincipal.png" height="800dx" width="800dx">-->
        </div>
    </div>
</body>
</html>